name: Build and Test Go Project

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GOEXPERIMENT: jsonv2
    defaults:
      run:
        working-directory: ./go
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - run: go version
    
      - name: Build
        run: go build -v
    
      - name: Run Tests
        run: go test -v
