name: Linting

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "main" ]

jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Run Markdownlint
        uses: davidanson/markdownlint-cli2-action@v22
        with:
          globs: "**/*.md"
          config: ".markdownlint.json"
